@import "../../index.scss";
.product-card {
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 360px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  gap: 15px;
  transition: background-color 0.3s ease-in-out;
  background-color: #f1f1f1;

  img {
    width: 270px;
    height: 260px;
  }

  .card-body {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 204, 153, 0.9);
    gap: 20px;
    .hover-button {
      width: 100px;
      height: auto;
      transition: 0.2s;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  &:hover .card-body {
    opacity: 1;
  }

  // Product Card Special (2)
  .product-card-special {
    display: flex;
    border: 2px solid #b6b4b4;
    padding: 5px;
    border-radius: 15px;
    gap: 10px;
    p {
      color: #24c36c;
    }

    button {
      border: 0;
      border-left: 2px solid #b6b4b4;
      padding-left: 5px;
    }
  }
}

.product-card-special {
  transition: 0.2s;

  &:hover {
    transform: translateY(-2px);
  }
}

// Product Card Info (8)
.product-card-info {
  background-color: $bg-color;
  img {
    width: 100%;
    height: 100%;
  }
}
